* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body {
    background-color: #F45B69;
    text-align: center;
    color: #000000;
}

h1 {
    padding: 10px;
    font-size: 48px;
    color: #F6E8EA;
    text-shadow: 2px 2px #5A0001;
}

#runaway-btn {
    position: absolute;
    top: 79.5%;
    left: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.button {
    text-decoration: none;
    color: #5A0001;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0.2px 0.2px #F45B69;
    box-shadow: 1px 1px 5px black;
    margin: 10px;
    padding: 2px;
    border-radius: 8px;
    border-color: #22181C;
}

.button:hover {
    color: white;
    background-color: #F13030;
    text-shadow: 0.2px 0.2px #22181C;
    cursor: pointer;
}

#pika_wave {
    width: 480px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#bp_img {
    width: 800px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#anya {
    width: 480px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#haya {
    width: 800px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#question {
    width: 800px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#drums {
    width: 500px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#mc {
    width: 1000px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#cat {
    width: 600px;
}

#end {
    background-image: url(./images/valentines_background.png);
}