* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body {
    background-color: #F45B69;
    text-align: center;
    color: #000000;
}

h1 {
    padding: 10px;
    font-size: 48px;
    color: #F6E8EA;
    text-shadow: 2px 2px #5A0001;
}

.button {
    text-decoration: none;
    color: #5A0001;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0.2px 0.2px #F45B69;
    margin: 10px;
    padding: 2px;
    border-radius: 8px;
    border-color: #22181C;
}

.button:hover {
    color: white;
    background-color: #F13030;
    text-shadow: 0.2px 0.2px #22181C;
}

#pika_wave {
    width: 480px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}

#bp_img {
    width: 800px;
    border-style: solid;
    border-radius: 16px;
    border-color: #22181C;
    border-width: 10px;
    box-shadow: 5px 5px #5A0001;
}